
.topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #4CAF50;
color: white;
}

.topnav .icon {
display: none;
}

@media screen and (max-width: 100px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
float: right;
display: block;
}
}

@media screen and (max-width: 100px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive a {
float: none;
display: block;
text-align: left;
}
}

.nice{
    display:flex;
    border-bottom: 40px 20px;
    border-radius: 20px;
    border: solid 0px blue;
    position: relative;
    left: 35px;
    top: 45px;
    margin-left: 100px;    
}

.photo_food{
    display:flex;
    border-bottom: 40px 20px;
    border-radius: 20px;
    border: solid 0px blue;
    position: relative;
    left: -25px;
    margin-left: 150px;
    margin-right: 10%;
}

.page3{
    display:flex;
    border-bottom: 40px 20px;
    border-radius: 20px;
    border: solid 0px blue;
    position: relative;
    left: -25px;
    margin-left: 150px;
    margin-right: 10%;
}

.container {
    display:flex;
    border-bottom: 40px 20px;
    border-radius: 20px;
    border: solid 0px blue;
    position: relative;
    left: -25px;
    margin-left: 150px;
    margin-right: 10%; 
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
  }
